.conten {
    height: 100%;
}
.conten select {
    width: 185px;
    height: 100%;
    border-style: none;
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    appearance: none;
    background-color: #1B1B1B;
    color: #969696;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    outline: none;
}

.conten select option {
   font-size: 15px;
}
.conten :hover{
    background: #FEB800;
    color: #1B1B1B;
}