.contein {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-image:  radial-gradient(#ff8d00 0.5px, transparent 0.5px), radial-gradient(#ff8d00 0.5px, #e5e5f7 0.5px);
}

.conten_formu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 45px;
    border-radius: 15px;
    padding: 20px;
    width: 45%;
}

.formulario {
    background-color: rgb(255, 255, 255);
    width: 80%;
}
.title input ,.summary textarea{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    width: 80%;
    outline: none;
}
.outForm {
    background-color: rgb(255, 255, 255);
    width: 80%;
}
.steps {
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    width: 100%;
    gap:1em;
    list-style: none;
}
.list {
    list-style: none;
}

.steps input {
    width: 80%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}

.diets select{
    width: 50%;
    font-family: 'Poppins', sans-serif;
    background-color: #ff8d00;
    border-radius: 5px;
    border-style: none;
}

.boton_agregar{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #ff8d00;
    border-radius: 5px;
    border-style: none;
    width: 100px;
    }
.boton_home {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    background-color: #ff8d00;
    border-radius: 5px;
    border-style: none;
    width: 100px;
}

.boton_borrar {
    margin-top: 20px;
font-family: 'Poppins', sans-serif;
background-color: #ff8d00;
border-radius: 5px;
border-style: none;
width: 100px;
}
.botonCrear {
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #ff8d00;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
    height: 40px;
    width: 170px;
}
.danger {
    color: red;
}